{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>

<body>
    <h1>User Lists:</h1>
    <ul>
        {% for user in users %}
        <li>
            {{ user }}
        </li>
        {% endfor %}
    </ul>

    <script src="{% static 'js/script.js' %}"></script>
    <img src="{%static 'images/logo.png' %}" alt="Malket Logo">
</body>

</html>